Week_2/*/.ipynb_checkpoints/**
Week_1/*/.ipynb_checkpoints/**
Week_3/winery-multivariate/.ipynb*
Week_4/diabetes-regression/.ipynb*
Week_4/sentiment-logistic-regression/.ipynb*
Week_3/generative-mnist/.ipynb*
